* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 20px;
  text-align: center;
  background-color: #113F5E;
  font-family: 'Montserrat', sans-serif;
}

h1, h2 {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 180%;
  text-transform: uppercase;
}

h3 {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

label {
  margin-bottom: 10px;
  color: #113F5E;
}

input,
select {
  padding: 5px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid #113F5E;
}

input:focus,
select:focus {
  background-color: #113F5E;
  color: white;
}

input {
  text-align: center;
}

button {
  margin-top: 40px;
  padding: 5px;
  color: #113F5E;
  font-weight: bold;
  font-size: 110%;
  background-color: lightgrey;
  border-radius: 5px;
  border: 1px solid #113F5E;
}

button:active {
  background-color: #113F5E;
  color: white;
}

.show {
  opacity: 1;
  transition: 0.2s;
}

.hidden {
  opacity: 0;
  transition: 0.2s;
}


/* Calcolatore */
.calcolatore {
  margin: 20px auto;
  padding: 20px;
  min-width: 600px;
  width: 60%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.calcolatore .row {
  display: flex;
  justify-content: center;
}

.calcolatore .row .col {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
}

/* Biglietto generato */
#biglietto {
  margin: auto;
  padding: 20px;
  min-width: 600px;
  width: 60%;
  background-color: white;
}

#biglietto .row {
  display: flex;
}

#biglietto .row:last-child {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

#biglietto .col.left {
  padding: 20px;
  width: 20%;
  text-align: left;
  background-color: grey;
}

#biglietto .col.left #nome-input {
  line-height: 1.6;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 120%;
}

#biglietto .col.right {
  padding: 30px 0;
  width: 80%;
}

#biglietto table {
  width: 100%;
}

#biglietto table th {
  width: calc(100% / 4);
  padding-bottom: 40px;
}
